@use "variables" as *;
@use "mixins" as *;
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: unset;
}

.App {
    width: 100vw;
    min-height: 100vh;
}

h4,
h3 {
    margin: 0;
}

input::focus {
    border: none !important;
}

// COMMON
.invalid-input {
    border: 2px solid red !important;
}

.invalid-error {
    font-size: 10px;
    position: absolute;
    width: 75vw;
    max-width: 500px;
    top: 125px;
    color: #811f1f;
}

// MAP SIZING
.leaflet-container {
    height: 65vh;
}